/* Visibility classes */
.small-full, .medium-full, .large-full, .xlarge-full,
.small-tquarter, .medium-tquarter, .large-tquarter, .xlarge-tquarter,
.small-dthird, .medium-dthird, .large-dthird, .xlarge-dthird,
.small-half, .medium-half, .large-half, .xlarge-half,
.small-third, .medium-third, .large-third, .xlarge-third,
.small-quarter, .medium-quarter, .large-quarter, .xlarge-quarter,
.small-fifth, .medium-fifth, .large-fifth, .xlarge-fifth,
.small-eighth, .medium-eighth, .large-eighth, .xlarge-eighth,
.small-tenth, .medium-tenth, .large-tenth, .xlarge-tenth {
  display: inline-block;
  padding: 0 2em;
  vertical-align: top;
}

.grid-wide {
  padding: 0 0.3em;
}

.small-full, .medium-full, .large-full, .xlarge-full {
  width: 100%;
}

.small-tquarter, .medium-tquarter, .large-tquarter, .xlarge-tquarter {
  width: 75%;
}

.small-dthird, .medium-dthird, .large-dthird, .xlarge-dthird {
  width: 66.6667%;
}

.small-half, .medium-half, .large-half, .xlarge-half {
  width: 50%;
}

.small-third, .medium-third, .large-third, .xlarge-third {
  width: 33.3333%;
}

.small-quarter, .medium-quarter, .large-querter, .xlarge-querter {
  width: 25%;
}

.small-fifth, .medium-fifth, .large-fifth, .xlarge-fifth {
  width: 20%;
}

.small-eighth, .medium-eighth, .large-eighth, .xlarge-eighth {
  width: 12.5%;
}

.small-tenth, .medium-tenth, .large-tenth, .xlarge-tenth {
  width: 10%;
}

@media only screen and (min-width: 40.0625em) {
  .if-small {
    display: none !important;
  }
}

@media only screen and (max-width: 40em) {
  .unless-small {
    display: none !important;
  }
}

@media only screen {
  .small-full {
    width: 100% !important;
  }
  .small-tquarter {
    width: 75% !important;
  }
  .small-dthird {
    width: 66.6667% !important;
  }
  .small-half {
    width: 50% !important;
  }
  .small-third {
    width: 33.3333% !important;
  }
  .small-quarter {
    width: 25% !important;
  }
  .small-fifth {
    width: 20% !important;
  }
  .small-eighth {
    width: 12.5% !important;
  }
  .small-tenth {
    width: 10% !important;
  }
}

@media only screen and (max-width: 40em),
only screen and (min-width: 64.0625em) {
  .if-medium {
    display: none !important;
  }
}

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .unless-medium {
    display: none !important;
  }
}

@media only screen and (min-width: 40.0625em) {
  .medium-full {
    width: 100% !important;
  }
  .medium-tquarter {
    width: 75% !important;
  }
  .medium-dthird {
    width: 66.6667% !important;
  }
  .medium-half {
    width: 50% !important;
  }
  .medium-third {
    width: 33.3333% !important;
  }
  .medium-quarter {
    width: 25% !important;
  }
  .medium-fifth {
    width: 20% !important;
  }
  .medium-eighth {
    width: 12.5% !important;
  }
  .medium-tenth {
    width: 10% !important;
  }
}

@media only screen and (max-width: 64em) {
  .if-large {
    display: none !important;
  }
}

@media only screen and (min-width: 64.0625em) {
  .unless-large {
    display: none !important;
  }
  .large-full {
    width: 100% !important;
  }
  .large-tquarter {
    width: 75% !important;
  }
  .large-dthird {
    width: 66.6667% !important;
  }
  .large-half {
    width: 50% !important;
  }
  .large-third {
    width: 33.3333% !important;
  }
  .large-quarter {
    width: 25% !important;
  }
  .large-fifth {
    width: 20% !important;
  }
  .large-eighth {
    width: 12.5% !important;
  }
  .large-tenth {
    width: 10% !important;
  }
}

@media only screen and (max-width: 90em) {
  .if-xlarge {
    display: none !important;
  }
}

@media only screen and (min-width: 90.0625em) {
  .unless-xlarge {
    display: none !important;
  }
  .xlarge-full {
    width: 100% !important;
  }
  .xlarge-tquarter {
    width: 75% !important;
  }
  .xlarge-dthird {
    width: 66.6667% !important;
  }
  .xlarge-half {
    width: 50% !important;
  }
  .xlarge-third {
    width: 33.3333% !important;
  }
  .xlarge-quarter {
    width: 25% !important;
  }
  .xlarge-fifth {
    width: 20% !important;
  }
  .xlarge-eighth {
    width: 12.5% !important;
  }
  .xlarge-tenth {
    width: 10% !important;
  }
}
