.feedItem {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 0.7em 1em;
}

.feedItem a {
  text-transform: capitalize;
}

.offerFeed .page-header {
  margin-bottom: 0.3em;
}

.feedItem:hover {
  background-color: #e8e8e8;
}

.switchLink {
  display: none;
}

.feedItem:first-of-type {
  border-top: none;
}

.feedItem:last-of-type {
  border-bottom: none;
}

.feedContainer {
  position: absolute;
  top: 0; left:0 ;right:0;bottom:0;
}

.listingList {
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
  vertical-align: top;
  width: 75%;
}

.offerFeed {
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
  vertical-align: top;
  width: 25%;
}

@media only screen and (max-width: 64em) {
  .feedContainer {
    position: static;
  }

  .listingList {
    overflow-y: visible;
    width: 100%;
  }

  .offerFeed .page-header {
    margin-bottom: 0.3em;
  }

  .listingList.switch {
    display: none;
  }

  .offerFeed {
    display: none;
    overflow-y: visible;
    width: 100%;
  }

  .offerFeed.switch {
    display: inline-block;
  }

  .feedItem {
    padding: 0.3em 1em;
  }

  .switchLink {
    display: inline-block;
  }
}
