.imageUploader {
  border: 2px dashed #666;
  cursor: pointer;
  margin: 0.7em 0;
  padding: 0.4em 1em;
  text-align: center;
}

.progressContainer {
  border: 2px solid #666;
  margin: auto;
  margin-bottom: 0.4em;
  position: relative;
  width: 50%;
}

.progressFull {
  background-color: #ddd;
  width: 100%;
}

.progress {
  background-color: rgb(160, 200, 255);
  font-size: 0.9em;
  width: 0;
}

.progress.indeterminate {
  animation: progressbar 0.75s linear infinite;
  background-image: linear-gradient(-45deg, #a0c8ff, #a0c8ff 25%, #e0e8ff 27%, #e0e8ff 50%, #a0c8ff 52%, #a0c8ff 75%, #e0e8ff 77%, #e0e8ff);
  background-size: 30px 30px;
  width: 100%;

	-webkit-animation: progressbar 0.75s linear infinite;
	-moz-animation: progressbar 0.75s linear infinite;
	-ms-animation: progressbar 0.75s linear infinite;
	-o-animation: progressbar 0.75s linear infinite;
}

.processing-block div {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.3em 0.3em;
  width: 100%;
}

.processing-block div:before {
  content: url('/img/progress.gif');
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: middle;
}

.image-block {
  width: 12.5%;
}

.primaryImage {
  opacity: 0.5;
}

@keyframes progressbar {
	0% {
		background-position: -30px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-webkit-keyframes progressbar {
	0% {
		background-position: -30px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-moz-keyframes progressbar {
	0% {
		background-position: -30px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-ms-keyframes progressbar {
	0% {
		background-position: -30px 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-o-keyframes progressbar {
	0% {
		background-position: -30px 0;
	}
	100% {
		background-position: 0 0;
	}
}

@media only screen and (max-width: 40em) {
  .progressContainer {
    width: 100%;
  }
  .image-block {
    width: 25%;
  }
}
