{{define "base" -}}
===============================================================================
  Calagora :: {{.EmailTitle}}
===============================================================================
{{range $i, $paragraph := .Paragraphs}}
{{$paragraph}}
{{end}}
===============================================================================
  As always, remember: Calagora will never ask you for your personal
  information.
===============================================================================
{{- end}}
