{{define "title"}}
About Calagora
{{end}}

{{define "includes"}}
  <link rel="stylesheet" type="text/css" href="/css/info.css" />
{{end}}

{{define "body"}}
  <section class="padded">
    <h3>About Calagora</h3>
    <p class="small">
      Calagora is a silent-auction website, inspired in part by Tinder (we're
      not kidding!), dedicated to helping you buy and sell
      used college supplies to other students on your campus, helping you save
      money.
    </p>
    <p class="small">
      Calagora provides you with the ability to post listings that you would
      like to sell to other users on your campus. It also lets you explore
      listings that have been posted by other users on your campus, and make
      offers to buy those listings.
    </p>
    <p class="small">
      As a seller, Calagora allows you to decide which offers you would like
      to reply to, and which offers you'd rather not. If you decide to accept
      an offer, Calagora opens up a chat client between you and your buyer
      so that you can discuss meeting up and facilitating an in-person
      transaction.
    </p>
    <h3>Team Behind Calagora</h3>
    <div class="small-full medium-tquarter large-third xlarge-quarter grid-wide small">
      <div class="info-team-block">
        <table>
          <tr>
            <td class="image">
              <div style="background-image: url('/img/anish.jpg');
                background-size: 200px 200px;
                background-position: -62px -20px;" class="img">
                &nbsp;
              </div>
            </td>
            <td>
              <div><strong>Anish</strong></div>
              <div><em>Software / Design / Marketing</em></div>
              <div>anish@calagora.com</div>
            </td>
          </tr>
        </table>
      </div>
    </div><!--
    --><div class="small-full medium-tquarter large-third xlarge-quarter grid-wide small">
      <div class="info-team-block">
        <table>
          <tr>
            <td class="image">
              <div style="background-image: url('/img/kamran.png');
                background-size: 100px 100px;
                background-position: -13px -10px;" class="img">
                &nbsp;
              </div>
            </td>
            <td>
              <div><strong>Kamran</strong></div>
              <div><em>Marketing</em></div>
              <div>uddin.kamran96@gmail.com</div>
            </td>
          </tr>
        </table>
      </div>
    </div><!--
    --><div class="small-full medium-tquarter large-third xlarge-quarter grid-wide small">
      <div class="info-team-block">
        <table>
          <tr>
            <td class="image">
              <div style="background-image: url('/img/matt.jpg');
                background-size: 100px 100px;
                background-position: -13px -10px;" class="img">
                &nbsp;
              </div>
            </td>
            <td>
              <div><strong>Matt</strong></div>
              <div><em>Design</em></div>
              <div>matt@calagora.com</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <p class="small">
      Are you interested in helping out with Calagora? Please contact Anish
      at anish@calagora.com for more information about how you can help.
    </p>
  </section>
{{end}}
