{{define "title"}}
Contact Calagora
{{end}}

{{define "body"}}
  <section class="padded">
    <h3>Contact Calagora</h3>
    <p class="small">
      If you have issues using the site, please contact support@calagora.com.
    </p>
    <p class="small">
      If you'd like to know more about the site, or would like to help
      out with the site, please contact anish@calagora.com.
    </p>
    <p class="small">
      If you have any feedback about the site, please contact
      feedback@calagora.com.
    </p>
  </section>
{{end}}

{{define "deferredIncludes"}}
  <link rel="stylesheet" type="text/css" href="/css/info.css" />
{{end}}
