{{define "title"}}
Calagora Terms of Use
{{end}}

{{define "body"}}
  <section class="padded">
    <h3>Terms of Use</h3>
    <p class="small">
      By using this site, you are agreeing to these terms. These terms may be
      changed at any time without notice, and it is your responsibility as a
      user to be aware of the content of these terms. If at any time you would
      like to opt out of these terms, please send an email to support@calagora.com
      with "OPT OUT" listed as the subject, then stop using this service; your
      listings, offers, conversations, and account will be deleted.
    </p>
    <ol class="small">
      <li>
        This service is provided as-is, free of charge, to anyone who has a valid school email address
        from one of the schools Calagora currently supports.
      </li>
      <li>
        You may create listings on Calagora for items you legally possess and intend to sell.
        You may also contact other users about listings posted on this site through
        the communication services provided by Calagora.
      </li>
      <li>
        By using this service and creating an account, you agree to receive emails from Calagora. Emails are
        sent when you create a new account, when you receive a new offer for one of their listings,
        when one of your offers is accepted by a seller, when one of your offers is
        countered for the first time, or when you ask for their password to be reset.
      </li>
      <li>
        By providing images and other information about listings, you give Calagora permission to present
        these images and information through our service without limitations including but not limited to attribution
        or royalties. In addition, you will only upload images to Calagora for which you legally have the right
        to share online.
      </li>
      <li>
        Calagora is not in any way responsible for the content of listings which appear on this service.
        Furthermore, we are not associated with any user of our site.
      </li>
      <li>
        While the ability to self report the condition and other properties of
        a listing are provided, Calagora does not guarantee the accuracy
        of the conditions of listings, or other properties and descriptions thereof,
        provided by users of this service.
      </li>
      <li>
        Calagora does not assume any responsibility for the content of messages sent through our messages service.
        Further, Calagora reserves the right to review any messages sent through this service for any
        reason.
      </li>
      <li>
        Calagora is not responsible for any damage incurred due to a malfunction of the services
        provided, or any lack of availability of services.
      </li>
      <li>
        If any listing appearing on this service seems to violate a copyright that you hold, or otherwise infringe
        on your rights in any way, please email support@calagora.com with the URL of the listing, and we will
        review it. If necessary, we will remove it.
      </li>
      <li>
        Calagora will not share your email address or password with any third party for any reason.
        You may, however, share your own information through the messaging service provided on the
        site.
      </li>
      <li>
        Calagora will take reasonable precautions to ensure that the security of your email address and password
        is not breached. However, Calagora shall not assume responsibility for any damages incurred either
        directly or indirectly as a result of a breach of the security of the information stored on this site.
      </li>
      <li>
        Use of this site for the purposes of any illegal activity is grounds
        for immediate termination of service.
      </li>
      <li>
        Calagora reserves the right to remove content which is added to this service, as well as to terminate any
        user accounts established through this service for any reason.
      </li>
      <li>
        If any provision of these terms is in any extend deemed to be illegal, unenforceable, or invalid, the other
        provisions will still be considered valid to the extent permissible by law.
      </li>
    </ol>
  </section>
{{end}}

{{define "deferredIncludes"}}
  <link rel="stylesheet" type="text/css" href="/css/info.css" />
{{end}}
